<form action="/comentarioCreate" method="post">
    Título: <input type="text" name="titulo">
    <br> <br>
    Texto: <input type="text" name="texto">
    <br> <br>
    Autor: <input type="text" name="autor">
    <br> <br>
    <input type="submit" value="Cadastrar">
</form>