<div class="card stack">
    <div>
        <h1 class="page-title">Olá, {{login}}!</h1>
        <p class="page-lead">Use o menu à esquerda para cadastrar receitas, categorias e comentários. Administradores também gerenciam usuários e habilidades.</p>
    </div>
    <div class="form-actions">
        <a class="btn btn-primary" href="/receitaCreate">Nova receita</a>
        <a class="btn btn-secondary" href="/receitaList">Ver receitas</a>
        <a class="btn btn-secondary" href="/public/receitas">Acervo público</a>
    </div>
</div>
