<form action="/receitaCreate" method="post">
    Nome: <input type="text" name="nome">
    <br><br>
    Descrição: <textarea name="descricao"></textarea>
    <br><br>
    Link Externo: <input type="url" name="link_externo">
    <br><br>
    Categoria:
    <select name="categorias" multiple>
        {{#each categorias}}
        <option value="{{id}}">
            {{nome}}
        </option>
        {{/each}}
    </select>
    <br> <br>
    Responsáveis:
    <select name="usuarios" multiple>
        {{#each usuarios}}
        <option value="{{id}}">
            {{nome}}
        </option>
        {{/each}}
    </select>
    <br> <br>
    <input type="submit" value="Cadastrar">
</form>